button {
  position: absolute;
  top: 50%;
  left: 60%;
  background: Tomato;
  color: black;
  border: 4px solid black;
  border-radius: 1em;
  font-size: 2em;
  padding: 0 2em;
  font: helvetica;
  align: left;
}
button2 {
  position: absolute;
  top: 50%;
  left: 10%;
  background: MediumSeaGreen;
  color: black;
  border: 4px solid black;
  border-radius: 1em;
  font-size: 1em;
  padding: 0 2em;
  font: helvetica;
  align: center;
}










$('button').on('mouseover',function() {
  $(this).css({
    top: (Math.random()*90)+'0%',
    left: (Math.random()*30)+'50%' 
  });
});