button {
  position: absolute;
  top: 10%;
  left: 10%;
  background: F5F527;
  color: black;
  border: 4px solid black;
  border-radius: 1em;
  font-size: 2em;
  padding: 0 2em;
  font: helvetica;
  align: left;
}
button2 {
  position: absolute;
  top: 50%;
  left: 50%;
  background: MediumSeaGreen;
  color: black;
  border: 4px solid black;
  border-radius: 1em;
  font-size: 1em;
  padding: 0 2em;
  font: helvetica;
  align: center;
}
<style>
  .red-text {
    color: #D7DBDD;
  }
  .blue-text {
    color: #D7DBDD;
  }
</style>









